<div class="calendar-modal" [class.hidden]="!calendarService.getShowDetail()">
  <div class="wrapper-form">

      <h2 class="text-center">家計簿入力</h2>
      <div class="tabs">
        <input id="all" type="radio" name="tab_item" checked>
        <label class="tab_item" for="all">支出</label>
        <input id="programming" type="radio" name="tab_item">
        <label class="tab_item" for="programming">収入</label>

        <div class="tab_content" id="all_content">
          <form (ngSubmit)="inputExpenses(SystemConst.PaymentType.SPEND)" #inputOutPriceForm="ngForm">
            <div class="tab_content_description">
              <table>
                <tr>
                  <td><label>支出金額 ¥</label></td>
                  <td>
                    <div class="form-group">
                      <input type="number" name="number" min="0" maxlength="9" [(ngModel)]="inputDetail.price"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             required>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label>項目</label></td>
                  <td>
                    <select name="category" [(ngModel)]="inputDetail.category" required>
                      <option *ngFor="let name of categories" [ngValue]="name">{{name}}</option>
                    </select>
                  </td>
                </tr>
              </table>
              <button type="submit" class="btn btn-primary btn-md btn-block" style="margin-top: 10px;" [disabled]="!inputOutPriceForm.valid">保存</button>
            </div>
          </form>
        </div>
        <div class="tab_content" id="programming_content">
          <form (ngSubmit)="inputExpenses(SystemConst.PaymentType.INCOME)" #inputInPriceForm="ngForm">
            <div class="tab_content_description">
              <table>
                <tr>
                  <td><label>収入金額 ¥</label></td>
                  <td>
                    <div class="form-group">
                      <input type="number" name="number" min="0" maxlength="9" [(ngModel)]="inputDetail.price"
                             oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             required>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label>項目</label></td>
                  <td>
                    <select name="category" [(ngModel)]="inputDetail.category" required>
                      <option *ngFor="let name of categories" [ngValue]="name">{{name}}</option>
                    </select>
                  </td>
                </tr>
              </table>
              <button type="submit" class="btn btn-primary btn-md btn-block" style="margin-top: 10px;" [disabled]="!inputInPriceForm.valid">保存</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
<div class="shadow" (click)="bgClick()" [class.hidden]="!calendarService.getShowDetail()"></div>
