<div class="nav-scroller bg-white shadow-sm" style="background-color: papayawhip; margin-top: -20px;">
  <div class="container">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink] [queryParams]="{home: 'expenses'}"><i class="fa fa-industry" aria-hidden="true"></i>家計簿</a></li>
        <li><a [routerLink] [queryParams]="{home: 'setting'}"><i class="fa fa-industry" aria-hidden="true"></i>設定</a></li>
      </ul>
    </div>
  </div>
</div>
